.container {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.boxContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content h3 {
  font-size: 2rem;
  color: #fff;
  line-height: 3.2rem;
  letter-spacing: 0.02em;
}

.content p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);
  max-width: 32rem;
}

@media (max-width: 768px) {
  .content h3 {
    font-size: 1.5rem;
  }
}

@media (max-width: 500px) {
  .boxContainer img {
    width: 10rem;
  }
  .content h3 {
    font-size: 1.5rem;
  }
  .content p {
    margin: 0;
    max-width: 24rem;
    font-size: 1.2rem;
  }
}
