:root {
  --bggg: #202024;
}

.bgContainer {
  width: 100%;
  background: var(--bggg);
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.containerContent {
  padding: 10rem 0 10rem;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content h1 {
  text-align: center;
  font-size: 3.6rem;
  line-height: 4.8rem;
  letter-spacing: 0.02em;
  max-width: 59rem;
  margin-bottom: 1.6rem;
}

.rigth {
  position: relative;
  left: 10rem;
}

.content p {
  margin-bottom: 2rem;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);
}

.containerCard {
  display: flex;
  justify-content: space-between;
}

.containerCircle {
  display: flex;
  flex-direction: column;
  gap: 13rem;
  width: 70rem;
}

.containerCard .image {
  margin-top: 10rem;
}

@media (max-width: 1050px) {
  .rigth {
    left: 0;
  }
}

@media (max-width: 780px) {
  .containerContent {
    padding: 10rem 0 5rem;
  }
}

@media (max-width: 600px) {
  .containerCard {
    flex-direction: column;
  }
  .containerCard .image {
    margin-top: 5rem;
  }
  .containerText h1 {
    font-size: 2.8rem;
    line-height: 3.6rem;
  }
  .containerCircle {
    gap: 7rem;
  }
}
