:root {
  --bgColor: #202024;
}

.bgContainer {
  width: 100%;
  background: var(--bgColor);
}

.containerContent {
  padding: 10rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerContent h1 {
  font-family: "Rubik";
  font-size: 3.6rem;
  line-height: 4.8rem;
  letter-spacing: 0.02em;
  margin-bottom: 1.6rem;
}

.containerContent p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);
  margin-bottom: 3rem;
}

@media (max-width: 750px) {
  .containerContent p {
    text-align: center;
  }
}
