.card {
  padding: 3.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 38rem;
  border-radius: 8px;
  border: 1px solid;
  border-image: linear-gradient(
      133.79deg,
      #4efb6a 0%,
      #fad03e 51.56%,
      #df1dff 100%
    )
    1;
  background: rgba(255, 255, 255, 0.12);
}

.card img {
  margin-bottom: 4rem;
}

.card h3 {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.02em;
  margin-bottom: 0.8rem;
}

.card p {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);
}
