.navBar {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 6rem;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  gap: 5rem;
}

.item {
  font-size: 1.6rem;
  cursor: pointer;
  font-weight: 500;
}

.item:hover {
  color: #61e876;
}
