:root {
  --btn: #61e876;
}

a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  font-size: 1.6rem;
}

.nav {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 1rem 3rem 1rem;
  background: #121214;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
}

.nav select {
  background: #202024;
  color: #fff;
  outline: none;
  border-radius: 3px;
}

.nav .navMenu li:last-child {
  padding: 1.2rem 2.4rem;
  font-size: 16px;
  font-weight: 500;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s ease;
  background: var(--btn);
  border: none;
}

.nav .navMenu li:last-child a {
  color: #121214;
}

.nav .navMenu li:last-child:hover {
  opacity: 0.9;
}

.navBrand img {
  max-width: 5rem;
}

.navItem a:hover {
  color: #61e876;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}

.navToggler {
  display: none;
}

.languages {
  display: none;
}

.navToggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: rgb(204, 204, 204);
  transition: 0.3s ease-in;
}

@media (max-width: 768px) {
  .languageDesk {
    display: none;
  }
  .languages {
    display: block;
    position: relative;
    left: 214px;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .navToggler {
    display: block;
    cursor: pointer;
  }
  .navMenu {
    left: 0;
    position: fixed;
    top: 8vh;
    justify-content: flex-start;
    height: 100vh;
    width: 100%;
    background: #121214;
    flex-direction: column;
    transform: translateX(100%);
    gap: 5rem;
    padding-top: 15rem;
  }
  .navActive {
    transform: translateX(0%);
    transition: 0.5s;
    overflow: none;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-4px, 5px);
    position: fixed;
  }
  .toggle .line2 {
    opacity: 0;
    position: fixed;
    color: #61e876;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-3px, -5px);
    position: fixed;
  }
}

@media (max-width: 620px) {
  .languages {
    left: 130px;
  }
}

@media (max-width: 440px) {
  .languages {
    left: 80px;
  }
}
