:root {
  --btn: #61e876;
}

.nav {
  background: #121214;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  width: 95%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content li {
  margin-right: 30px;
}

.content li a {
  text-decoration: none;
  color: rgb(204, 204, 204);
  font-size: 1.6rem;
}

.navBrand {
  z-index: 9999;
}

.navBrand img {
  max-width: 5rem;
}

.nav select {
  background: #202024;
  color: #fff;
  outline: none;
  border-radius: 3px;
}

.icon {
  cursor: pointer;
  display: none;
}

.nav .mobile {
  display: none;
}

.languageMobile {
  display: none;
}

@media (max-width: 1024px) {
  .nav .desktop {
    display: none;
  }
  .nav .mobile {
    display: block;
  }
  .icon {
    display: block;
    z-index: 9999;
    padding: 1rem;
  }
  .languageMobile {
    position: absolute;
    right: 7rem;
    display: block;
  }
  .icon div {
    width: 25px;
    height: 2px;
    background: #bcbcbc;
    margin: 3px 0;
    transition: 0.5s;
  }
  .actived .line1 {
    transform: rotate(-45deg) translate(-2px, 5px);
  }
  .actived .line2 {
    opacity: 0;
  }
  .actived .line3 {
    transform: rotate(45deg) translate(-2px, -5px);
  }
  .mobile {
    position: fixed;
    left: 150rem;
    top: 0;
    visibility: hidden;
    transition: 0.7s;
    width: 100%;
    height: 100vh;
    background: #121214;

    display: flex !important;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    z-index: 9998;
  }
  .mobile li + li {
    margin-top: 50px;
  }
  .menuMobile {
    left: 0;
    visibility: visible;
  }
}

@media (max-width: 1024px) {
  .languages {
    display: block;
    left: 130px;
  }
}

@media (max-width: 440px) {
  .languages {
    left: 80px;
  }
}
