:root {
  --footerBg: #121214;
}

.bgContainer {
  background: var(--footerBg);
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.containerContent {
  display: flex;
}

.containerSocial {
  display: flex;
  flex-direction: column;
  margin-right: 13rem;
}

.containerMap {
  margin-right: 13rem;
}

.logo {
  margin: 5rem 0 2rem;
}

.logo img {
  max-width: 5rem;
}

.map {
  margin-top: 5rem;
}

.map p {
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);
}

.mapText li {
  margin: 1.6rem 0 1.6rem;
}

.mapText li {
  font-size: 1.6rem;
  line-height: 2.4rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);

  cursor: pointer;
}

.mapText li a:hover {
  color: #61e876;
}

.social {
  display: flex;
  gap: 2rem;
}

.social img {
  cursor: pointer;
}

.contact p {
  font-size: 2rem;
  margin-top: 5rem;
  line-height: 3.2rem;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.72);
}

.contactText li {
  margin: 1.6rem 0 1.6rem;
}

.contactText li a:hover {
  color: #61e876;
}

.contactText p {
  font-size: 1.6rem;
  color: rgba(255, 255, 255, 0.72);
  cursor: pointer;
}

.contactText p:hover {
  color: #61e876;
}

@media (max-width: 780px) {
  .containerMap {
    margin-right: 9rem;
  }
  .containerSocial {
    margin-right: 9rem;
  }
}

@media (max-width: 680px) {
  .containerContent {
    flex-direction: column;
  }
  .mapText ul {
    display: flex;
    gap: 20px;
  }
  .contact p {
    margin: 0;
  }
  .contactText {
    margin-bottom: 2rem;
  }
  .containerMap {
    margin-right: 5rem;
  }
  .containerSocial {
    margin-right: 5rem;
  }
}

