.container {
  max-width: 100%;
}

.container .carousel {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.container .carousel::-webkit-scrollbar {
  display: none;
}

.container .carousel .item {
  background: #202024;
  max-width: 40rem;
  max-height: 40rem;
  flex: none;
  border-radius: 8px;
  margin: 1rem;
  cursor: pointer;
}

.container .carousel .item .image img {
  max-width: 30rem;
  max-height: 30rem;
}

.container .carousel .item:last-child .image img {
  max-height: 28rem;
}

.container .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.container .buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 2px;
}

.container .buttons button img {
  width: 3rem;
}

.container .buttons button:first-child img {
  transform: rotate(180deg);
}

@media (max-width: 820px) {
  .container {
    max-width: 81vw;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 86vw;
  }
}

@media (max-width: 500px) {
  .container .carousel .item .image img {
    max-width: 20rem;
    max-height: 20rem;
  }
  .container {
    max-width: 90vw;
  }

  .container .buttons button img {
    display: none;
  }
  .container .carousel .item:last-child .image img {
    max-height: 18rem;
  }
}
