main {
  position: relative;
}

.wrapper {
  margin-bottom: 1rem;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: rgb(0, 247, 43);
  background: linear-gradient(
    90deg,
    rgba(0, 247, 43, 1) 0%,
    rgba(0, 223, 36, 1) 35%,
    rgba(1, 199, 21, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: inset -5px 4px 8px rgba(8, 110, 28, 0.7),
    inset -2px 3px 9px rgba(8, 110, 28, 0.6);
  border: 10px solid #00d520;
  z-index: 1;
}

.circle img {
  width: 56px;
  height: 56px;
  z-index: 1;
}

.retangle {
  width: 260px;
  height: 70px;
  background: rgb(0, 247, 43);
  background: linear-gradient(
    90deg,
    rgba(0, 247, 43, 1) 0%,
    rgba(0, 223, 36, 1) 35%,
    rgba(1, 199, 21, 1) 100%
  );
  position: relative;
  left: -40px;
  transform: skew(-40deg);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 5px 4px 8px rgba(8, 110, 28, 0.7),
    -0px -0px 5px rgb(9, 158, 30);
  border: 5px solid #00d520;
  border-radius: 10px;
}

.text {
  transform: skew(40deg);
  text-align: center;
  color: #000;
}

.text span {
  font-weight: bold;
}

@media (max-width: 500px) {
  .circle {
    width: 50px;
    height: 50px;
  }
  .circle img {
    width: 26px;
    height: 26px;
  }

  .retangle {
    width: 160px;
    height: 50px;
    left: -21px;
    bottom: 2px;
  }

  .text p {
    font-size: 1rem;
  }

  .text span {
    font-size: 1rem;
  }
}
