.slideShow {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.slideShow button {
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

.slideShow button:hover {
  background: rgba(255, 255, 255, 0.72);
}

.mainImg {
  max-width: 30rem;
}

@media (max-width: 480px) {
  .mainImg {
    max-width: 25rem;
  }
  .slideShow button {
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
  }
}
